@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.main {
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.card {
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 1em 0.8em;
  color: hsl(218, 44%, 22%);
}

.card p {
  margin: 1em 0.8em;
  color: hsl(220, 15%, 55%)
}

.attribution {
  background-color: hsl(219, 21%, 52%);
  color:hsl(0, 0%, 100%);
  padding: 0.5em;
  margin-top: auto;
  text-align: center;
}

.attribution a {
  color: hsl(0, 100%, 97%);
}
